doc/specs/n8n-nuliga-sync.json
{
  "name": "TC-BW Homepage nuliga Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Taeglich 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// ===========================================================================\n// nuliga-sync — n8n Code node\n//\n// Setup:\n//   1. Set n8n env var: NODE_FUNCTION_ALLOW_EXTERNAL=cheerio,js-yaml\n//   2. Paste the contents of `tools/nuliga-sync/dist/n8n-bundle.js` BELOW the\n//      `--- PASTE BUNDLE BELOW ---` marker (replace this placeholder)\n//   3. Set n8n env vars: GITHUB_TOKEN, GITHUB_OWNER (ElGarno), GITHUB_REPO (tcbw-homepage)\n//\n// This node runs the full sync and returns an object with either:\n//   { changed: false }    → workflow ends\n//   { changed: true, prUrl, prTitle, prBody, missingCount, updateCount, addCount }\n// ===========================================================================\n\nconst cheerio = require('cheerio');\nconst yaml = require('js-yaml');\n\n// --- PASTE BUNDLE BELOW ---\n// ... entire content of tools/nuliga-sync/dist/n8n-bundle.js goes here ...\n// --- PASTE BUNDLE ABOVE ---\n\nconst GITHUB_TOKEN = $env.GITHUB_TOKEN;\nconst OWNER = $env.GITHUB_OWNER;\nconst REPO = $env.GITHUB_REPO;\nconst API = `https://api.github.com/repos/${OWNER}/${REPO}`;\n\nasync function gh(path, opts = {}) {\n  const res = await fetch(`${API}${path}`, {\n    ...opts,\n    headers: {\n      'Authorization': `Bearer ${GITHUB_TOKEN}`,\n      'Accept': 'application/vnd.github+json',\n      'User-Agent': 'nuliga-sync',\n      ...(opts.headers ?? {}),\n    },\n  });\n  if (!res.ok) {\n    const body = await res.text();\n    throw new Error(`GitHub API ${path} ${res.status}: ${body.slice(0, 300)}`);\n  }\n  return res.json();\n}\n\nasync function readRepoFile(path) {\n  const data = await gh(`/contents/${encodeURI(path)}?ref=main`);\n  return Buffer.from(data.content, 'base64').toString('utf8');\n}\n\nasync function findOpenSyncPR() {\n  const pulls = await gh(`/pulls?state=open&per_page=50`);\n  return pulls.find(p => p.head.ref.startsWith('nuliga-sync/'));\n}\n\nasync function commitAndOpenPR({ branch, commitMessage, prTitle, prBody, fileChanges }) {\n  const mainRef = await gh('/git/ref/heads/main');\n  const baseSha = mainRef.object.sha;\n\n  await gh('/git/refs', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ ref: `refs/heads/${branch}`, sha: baseSha }),\n  });\n\n  const baseCommit = await gh(`/git/commits/${baseSha}`);\n  const baseTree = baseCommit.tree.sha;\n\n  const treeEntries = fileChanges.map(f => ({\n    path: f.path,\n    mode: '100644',\n    type: 'blob',\n    content: f.content,\n  }));\n\n  const tree = await gh('/git/trees', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ base_tree: baseTree, tree: treeEntries }),\n  });\n\n  const commit = await gh('/git/commits', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ message: commitMessage, tree: tree.sha, parents: [baseSha] }),\n  });\n\n  await gh(`/git/refs/heads/${branch}`, {\n    method: 'PATCH',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ sha: commit.sha }),\n  });\n\n  const pr = await gh('/pulls', {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({\n      title: prTitle,\n      body: prBody,\n      head: branch,\n      base: 'main',\n      draft: true,\n    }),\n  });\n\n  try {\n    await gh(`/issues/${pr.number}/labels`, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ labels: ['automated', 'nuliga-sync'] }),\n    });\n  } catch (e) {\n    // labels optional — continue\n  }\n\n  return pr;\n}\n\nasync function commentOnPR(prNumber, body) {\n  await gh(`/issues/${prNumber}/comments`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ body }),\n  });\n}\n\nconst result = await runSync({\n  fetchImpl: fetch,\n  readRepoFile,\n  today: new Date(),\n});\n\nif (!result.changed) {\n  return [{ json: { changed: false, errors: result.errors } }];\n}\n\nconst existingPR = await findOpenSyncPR();\nif (existingPR) {\n  await commentOnPR(existingPR.number, `Zusätzliche Änderungen seit PR-Erstellung:\\n\\n${result.prBody}`);\n  return [{\n    json: {\n      changed: true,\n      action: 'comment',\n      prUrl: existingPR.html_url,\n      prTitle: existingPR.title,\n      prBody: result.prBody,\n      errors: result.errors,\n    },\n  }];\n}\n\nconst pr = await commitAndOpenPR(result);\nreturn [{\n  json: {\n    changed: true,\n    action: 'created',\n    prUrl: pr.html_url,\n    prNumber: pr.number,\n    prTitle: result.prTitle,\n    prBody: result.prBody,\n    errors: result.errors,\n  },\n}];\n"
      },
      "id": "sync-code",
      "name": "Sync Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-changed",
              "leftValue": "={{ $json.changed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-changed",
      "name": "Aenderungen?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pushover.net/1/messages.json",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $env.PUSHOVER_TOKEN }}"
            },
            {
              "name": "user",
              "value": "={{ $env.PUSHOVER_USER }}"
            },
            {
              "name": "title",
              "value": "Liga.nu Sync — Aenderungen erkannt"
            },
            {
              "name": "message",
              "value": "={{ $json.prTitle }}"
            },
            {
              "name": "url",
              "value": "={{ $json.prUrl }}"
            },
            {
              "name": "url_title",
              "value": "PR oeffnen"
            },
            {
              "name": "priority",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "id": "pushover",
      "name": "Pushover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200]
    },
    {
      "parameters": {},
      "id": "noop-nochange",
      "name": "Keine Aenderungen",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 400]
    }
  ],
  "connections": {
    "Taeglich 06:00": {
      "main": [[{ "node": "Sync Logic", "type": "main", "index": 0 }]]
    },
    "Sync Logic": {
      "main": [[{ "node": "Aenderungen?", "type": "main", "index": 0 }]]
    },
    "Aenderungen?": {
      "main": [
        [{ "node": "Pushover", "type": "main", "index": 0 }],
        [{ "node": "Keine Aenderungen", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin"
  },
  "tags": [
    { "name": "tc-bw-homepage" },
    { "name": "nuliga-sync" }
  ]
}
